{% extends "tasks/layout.html" %}
{% block title %}
    my tasks 
{% endblock %}
{% block body %}
    <h1>The Tasks</h1>
    <ul>
        {% for task in tasks %}
            <li>{{ task }}</li>
        {% empty %}
            <li>No tasks</li>
        {% endfor %}
    </ul>
    <a href=" {% url 'tasks:add'%}">Add task</a>
{% endblock %}
<!--<!DOCTYPE html>
<html lang="en">
    <head>
        <title>my tasks</title>
    </head>
    <body>
        <ul>
            {% for task in tasks %}
                <li>{{ task }}</li>
            {% endfor %}
        </ul>
    </body> 
</html> -->
